* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'MyFont';
    src: url('../fonts/Intro-Regular-Alt.woff2') format('woff2'),
         url('../fonts/Intro-Regular-Alt.woff') format('woff'),
         url('../fonts/Intro-Regular-Alt.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
:root {
    --nav-height: 80px; /* Set the height of the navigation bar */
}
.homebody {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('snimkite/clasrom.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
html, body {
    height: 100%; /* Allow the height to adjust based on content */
    width: 100%; 
    overflow-x: hidden; 
    display: flex;
    flex-direction: column;
    /* Set the opacity of the body */
    
}
img {
    display: block;
}

nav {
    display: flex; /* Use flexbox to align items horizontally */
    flex-direction: row; /* Ensure items are aligned in a row */
    align-items: center; /* Vertically align the logo and links */
    justify-content: space-between; /* Add space between the logo and links */
    height: var(--nav-height); /* Use the variable for the navigation height */
    padding: 0; /* Add horizontal padding */
    background-color:#0097B2; /* Ensure the background color is visible */
    z-index: 1000; /* Ensure it appears above other elements */
    position: fixed; /* Keep the nav fixed at the top */
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box; /* Include padding in width calculations */
    
}

#mqsto_na_ikonkata {
    display: flex; /* Ensure the logo container is visible */
    align-items: center; /* Center the logo vertically */
    justify-content: flex-start; /* Align the logo to the left */
    width: 15%; /* Adjust the width of the logo container */
    height: 100%; /* Fill the height of the nav */
    justify-content: center;
    padding: 3px;;
}

#logoto {

    width: 70%; /* Ensure the logo fits within its container */

    height: 100%; /* Maintain the aspect ratio */
}
#stranici {
    display: flex; /* Use flexbox for the navigation links */
    flex-direction: row; /* Align links horizontally */
    align-items: center; /* Center the links vertically */
    justify-content: flex-end; /* Align the links to the right */
    width: 80%; /* Adjust the width of the navigation links container */
    height: 100%;
    background-color:#0097B2;
    border: #1C1F33 ;
    border-width: 2px; /* Fill the height of the nav */
}
.stranica {
    text-align: center; /* Center the text */
    display: flex; /* Ensure the links are visible */
    align-items: center;
    justify-content: center;
    /* Ensure the background color is visible */
    height: 100%; /* Allow the height to adjust */
    width: 16%;
    padding: 10px; /* Add padding for better spacing */
    background-color:#0097B2;
    z-index: 1000; 

    position: relative;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    font-family: 'MyFont', sans-serif;

   

   
}
.stranica:hover {
    background-color:rgb(0, 132, 255); /* Ensure hover effect works */
}
.stranica:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 30px; /* half height look */
    width: 3px;
    background-color: #000000; /* light gray divider */
    opacity: 1;
  }


a {
    text-decoration: none;
    display: block;
    color: rgb(0, 0, 0); /* Ensure the text color is visible */
}
.stranica h1
{
    font-size: 1.2rem; /* Adjust font size for better visibility */
    margin: 0; /* Remove default margin */
    text-align: center; /* Center the text */
    color: #000000; /* Ensure the text color is visible */
    font-family: 'MyFont', sans-serif;
}
.manqci {
   
    width: 100%;
    height: 50%; 
    background-color: #7284A8;
    display: flex; 
    align-items: center;
    justify-content: space-evenly; 
    gap: 20px; 
    padding: 10px;
    
}
#adasha
{
  
        margin-top: var(--nav-height); /* Add padding to account for the navbar height */
       
        
}
.manqci img {
    max-width: 40%; 
    height: 80%; 
    display: block; 
    object-fit: cover;
}
.description {
   
    width: 100%;
    height:auto;
   
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content:center; 
    text-align: center;
 
  

    
}
.description h1 {
    margin: 0; 
    
    font-size: 2rem; 
}
.description p {
    margin:  auto 0; 
    width: 80%; 
   
    line-height: 1.5;
     
}
.news  
{
    
    
    width: 100%; 
    overflow: visible; 

}
#parva_novina
{
    margin-top: 14%;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
   
    height: auto;
    padding: 20px;
    gap: 35px;
    
   

   
}
#izre
{
font-size: 2.3rem;
font-family: 'MyFont', sans-serif;
color: rgb(255, 255, 255);


}

#parva_novina h1 {
   font-size: 2rem;
   font-family: 'MyFont', sans-serif;
   color: rgb(255, 255, 255);
   
}
#mapa
{
    margin-top: var(--nav-height);
}
#igikona
{
    width: 20%;
    height: auto;
    display: block;
    object-fit: contain;
    margin: 10px auto 0; 
}
#backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:#1C1F33;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px; 
    z-index: 1000;
}

#kontakti
{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Add spacing between items */
    padding: 10px; /* Add padding for better spacing */
    
    

}
#imeil
{
    font-size: 2rem;
    margin: 0; /* Remove default margin */
    text-align: center; /* Center the text */
}
#igikona
{
    margin-top: 30px;
}

.sabitiq
{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px; /* Add spacing between items */
    padding: 20px; /* Add padding for better spacing */
    width:80%;
    height: 100%;

}

#parvotosabitie
 
{
width:43% ;
height: auto;
background-color: #2763dc;
border: 2px solid #1C1F33;
position: relative; /* Make the container a positioning context */
    padding: 15px;
    display: flex;
    flex-direction: column; /* Arrange content in a column */
    align-items: flex-start; /* Align items to the start */
    justify-content: flex-start; /* Ensure items are aligned at the top */
    gap: 10px; /* Add spacing between text and button */
    box-sizing: border-box;

   
  
}
#parvotosabitie:hover
{
    background-color: #283bb8;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    transform: scale(1.05);
}

#vtorotosabitie

{
    width:43% ;
    height: auto;
    background-color: #2763dc;
    border: 2px solid #1C1F33;
    position: relative; /* Make the container a positioning context */
    padding: 15px;
    display: flex;
    flex-direction: column; /* Arrange content in a column */
    align-items: flex-start; /* Align items to the start */
    justify-content: flex-start; /* Ensure items are aligned at the top */
    gap: 10px; /* Add spacing between text and button */
    box-sizing: border-box;



}
#vtorotosabitie:hover
{
    background-color: #283bb8;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    transform: scale(1.05);
}

#sbornas
{
    width: 100%;
    height: auto;
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
    gap: 90px;
    justify-content: space-around;

    
}




.myButon {
   
   
    box-shadow: inset 0px 6px 17px 3px #23395e;
    background: linear-gradient(to bottom, #2e466e 5%, #415989 100%);
    background-color: #2e466e;
    border-radius: 17px;
    border: 1px solid #1f2f47;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Times New Roman;
    font-size: 28px;
    padding: 10px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 14px #263666;
    margin-right: 3%;
    margin-left: auto;
    margin-bottom: 3%;
}

#infobody
{
  padding-top: calc(var(--nav-height) + 1%);


}

.zapisvane {
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #2b8fd1 5%, #327aef 100%);
	background-color:#129490;
	border-radius:15px;
	border:4px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family: 'MyFont', sans-serif;
	font-size: 1.9rem;
	padding:14px 43px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
}
.zapisvane:hover {
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#129490;
}
.zapisvane:active {
	position:relative;
	top:2px;
}
#menuto {
    display: none; /* Hide by default */
    cursor: pointer;
    font-size: 24px; /* Adjust size for phones */
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1001; /* Ensure it appears above other elements */
}
.lekciq1body
{
    background-color: rgb(100, 255, 142);
    padding-top:calc(var(--nav-height) + 1%);
    font-size: 1.5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: row; /* Arrange content in a row */
    width: 100%;
    flex-wrap: wrap;
     /* Add spacing between items */
    justify-content: space-between;
    height: 100%;

}
.lekciq1body p
{
   width: 45%;
}
#dqsnoto
{
 text-align: end;
}
#silviq
{
    max-width: 40%; /* Reduce the maximum width */
    height: auto; /* Maintain the aspect ratio */
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}
#desi
{
    max-width: 44%; /* Reduce the maximum width */
    height: auto; /* Maintain the aspect ratio */
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}






